<ion-view style="" title="Activity">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Ricky Djendangkang</h2>
                <p>Begin : 03/14/2016 End : 03/20/2016</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Lukman Hakim</h2>
                <p>Begin : 03/14/2016 End : 03/20/2016</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Ali Wahyudi</h2>
                <p>Begin : 03/14/2016 End : 03/20/2016</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>