<ion-view title="FORM UPDATE ACTIVITY" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="contect-transparant">
             <div class="pic-review">
                <i class="icon ion-compose"></i>
                <p>

                    <b>
                    Ricky Djendakang
                    
                    </b>
                    <br>
                    <u class="spacing">
                        02/22/2016 - 02/28/2016
                    </u>
                </p>
            </div>
        <div class="spacer" style="width: 284px; height: 12px;"></div>
           <div class="list card custom-list">
                 <div>

               <div class="item item-divider item-divider-erp ion-clock">
                    <b>BEFORE LUNCH</b>
                       <button id="fORMDAYMONDAY-button18" style="font-weight:bolder;color:#FFFFFF;border-radius:5px 5px 5px 5px;" class="button button-positive  icon-right ion-android-add-circle btn-gantung">Add</button>
                </div>


                <span class="lunch">PLANING BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person"> FREEPORT INDONESIA,PT</span>
                <b class="font-location">JAKARTA</b>
                <br>
                <br>
                <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

            </div>
            <br/>
             
            <span class="lunch">ACTUAL BEFORE LUNCH</span>
                <div class="form-update">
                    <form class="list">
                        <ion-toggle toggle-class="toggle-assertive" name="cancel-plan-before-lunch">CANCEL</ion-toggle>
                    </form>
                    <form class="list">
                        <label class="item item-input" name="results-plan-before-lunch">
                            <span class="input-label">Results :</span><textarea placeholder="Input Actual Results" rows="4" cols="10"> </textarea>
                        </label>
                    </form>
                </div>

             </div>
            
             <!-- Add Actual -->
             <div class="list card custom-list form-update">
             <b><center>ADD BEFORE LUNCH ACTUAL</center></b>
             
             <form class="list">
                <label class="item item-select" name="customer-before-lunch">
                    <span class="input-label">Customer</span>
                    <select>
                        <option>None</option>
                        <option>FREEPORT INDONESIA,PT</option>
                        <option>HOLCIM INDONESIA, PT</option>
                        <option>ADARO INDONESIA, PT</option>
                    </select>
                </label>
                <label class="item item-input" name="location-before-lunch">
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="Location">
                </label>
                <label class="item item-input" name="objectives-before-lunch">
                    <span class="input-label">Objectives</span>
                    <input type="text" placeholder="Objectives ">
                </label>
            </form>

            <form class="list">
                <label class="item item-select" name="customer-before-lunch">
                    <span class="input-label">Customer</span>
                    <select>
                        <option>None</option>
                        <option>FREEPORT INDONESIA,PT</option>
                        <option>HOLCIM INDONESIA, PT</option>
                        <option>ADARO INDONESIA, PT</option>
                    </select>
                </label>
                <label class="item item-input" name="location-before-lunch">
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="Location">
                </label>
                <label class="item item-input" name="objectives-before-lunch">
                    <span class="input-label">Objectives</span>
                    <input type="text" placeholder="Objectives ">
                </label>
            </form>
            
            </div>
            <br/>
            <br/>
            <div class="list card custom-list">
                 <div>
                   <div class="item item-divider item-divider-erp ion-clock">
                    <b>AFTER LUNCH</b>

                     <button id="fORMDAYMONDAY-button18" style="font-weight:bolder;color:#FFFFFF;border-radius:5px 5px 5px 5px;" class="button button-positive  icon-right ion-android-add-circle btn-gantung">Add</button>
                </div>

                <span class="lunch">PLANING AFTER LUNCH</span>

                <span class="judul-cus-view ion-person"> FREEPORT INDONESIA,PT</span>
                <b class="font-location">JAKARTA</b>
                <br>
                <br>
                <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

            </div>
            <br/>
            <span class="lunch">ACTUAL AFTER LUNCH</span>
                <div class="form-update">
                    <form class="list">
                        <ion-toggle toggle-class="toggle-assertive" name="cancel-plan-before-lunch">CANCEL</ion-toggle>
                    </form>
                    <form class="list">
                        <label class="item item-input" name="results-plan-before-lunch">
                            <span class="input-label">Results :</span><textarea placeholder="Input Actual Results" rows="4" cols="10"> </textarea>
                        </label>
                    </form>
                </div>

             </div>           

                <div class="list card custom-list">
                 <div>
                  
                <span class="lunch">PLANING AFTER LUNCH</span>

                <span class="judul-cus-view ion-person"> FREEPORT INDONESIA,PT</span>
                <b class="font-location">JAKARTA</b>
                <br>
                <br>
                <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

            </div>
            <br/>
            
            <span class="lunch">ACTUAL AFTER LUNCH</span>
                <div class="form-update">
                    <form class="list">
                        <ion-toggle toggle-class="toggle-assertive" name="cancel-plan-before-lunch">CANCEL</ion-toggle>
                    </form>
                    <form class="list">
                        <label class="item item-input" name="results-plan-before-lunch">
                            <span class="input-label">Results :</span><textarea placeholder="Input Actual Results" rows="4" cols="10"> </textarea>
                        </label>
                    </form>
                </div>

             </div>  



        </div>
         <button id="fORMUPDATEACTIVITY-button15" style="font-weight:;border-radius:5px 5px 5px 5px;" class="button button-positive  button-block icon-left ion-android-add-circle">UPDATE ACTIVITY</button>
    </ion-content>
</ion-view>