<ion-view style="" title="FORM UPDATE ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <p>

                <b>PIC : {{username_update}}

                </b>
                <br>Date :
                <u>
                    {{date_cur|date:"MM/dd/yyyy"}}
                </u>
            </p>
            <hr>
        </div>
        <ion-list style=""></ion-list>
        
        <div style="">
            <p>
                <b>
                    <u>BEFORE LUNCH</u>
                </b>
            </p>
        </div>

            <div ng-repeat="cbp in current_beforeplan">
            <b>Customer : </b>{{cbp.partner_id[1]}}
            <br>
            <b>Location : </b>{{cbp.location}}
            <br>
            <b>Objectives : </b>{{cbp.name}}
            <br>
            <br>
            <ion-toggle style="" name="cancel-plan-before-lunch" toggle-class="toggle-assertive" ng-model="cbp.checked" ng-checked="cbp.checked">CANCEL PLANING</ion-toggle>
            <br>
            <label style="" name="results-plan-before-lunch" class="item item-input">
                <span class="input-label">Results :</span>
                <input placeholder="Results" type="text" ng-model="cbp.results">
            </label>
            <br>
            </div>
        <div>
         {{ current_beforeplan }}
        </div>

        <div style="width: 284px; height: 50px;" class="spacer"></div>
        
        <div style="">
            <p>
                <b>
                    <u>AFTER LUNCH</u>
                </b>
            </p>
        </div>

            <div ng-repeat="cap in current_afterplan">
            <b>Customer : </b>{{cap.partner_id[1]}}
            <br>
            <b>Location : </b>{{cap.location}}
            <br>
            <b>Objectives : </b>{{cap.name}}
            <br>
            <br>
            <ion-toggle style="" toggle-class="toggle-assertive" ng-model="cap.checked" ng-checked="cap.checked">CANCEL PLANING</ion-toggle>
            <br>
            <label style="" name="results-plan-after-lunch" class="item item-input">
                <span class="input-label">Results :</span>
                <input placeholder="Results" type="text" ng-model="cap.results">
            </label>
            <br>
            </div>
        <div>
         {{ current_afterplan }}
        </div>

        <div style="width: 284px; height: 50px;" class="spacer"></div>

        <button class="button button-positive  button-block icon-left ion-android-add-circle" style="border-radius:22px 22px 22px 22px;" id="formupdateactivity-button01" ng-click="update()">UPDATE ACTIVITY</button>
        <ion-list style=""></ion-list>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>