<ion-view style="" title="FORM DAY MONDAY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <p>
            </p>
            <center>
                <b>MONDAY</b>
            </center>
            <p></p>
            <hr>

        </div>
        <form style="" class="list"></form>
        <button class="button button-positive  icon-right ion-android-add-circle" style="font-weight:bolder;color:#FFFFFF;border-radius:29px 29px 29px 29px;" id="formdaymonday-button18">Add</button>
        <div style="width: 284px; height: 14px;" class="spacer"></div>
        <div style="">
            <p>
                <b>
                    <u>BEFORE LUNCH</u>
                </b>
            </p>
        </div>
        <form style="" class="list">
            <label style="" name="customer-before-lunch" class="item item-select">
                <span class="input-label">Customer</span>
                <select>
                    <option>None</option>
                    <option>FREEPORT INDONESIA,PT</option>
                    <option>HOLCIM INDONESIA, PT</option>
                    <option>ADARO INDONESIA, PT</option>
                </select>
            </label>
            <label style="" name="location-before-lunch" class="item item-input">
                <span class="input-label">Location</span>
                <input placeholder="Location" type="text">
            </label>
            <label style="" name="objectives-before-lunch" class="item item-input">
                <span class="input-label">Objectives</span>
                <input placeholder="Objectives " type="text">
            </label>
        </form>
        <div style="height: 100px;" class="spacer"></div>
        <form style="" class="list"></form>
        <button class="button button-positive  icon-right ion-android-add-circle" style="font-weight:bolder;color:#FFFFFF;border-radius:29px 29px 29px 29px;" id="formdaymonday-button19">Add</button>
        <form style="" class="list"></form>
        <div style="">
            <p>
                <b>
                    <u>AFTER LUNCH</u>
                </b>
            </p>
        </div>
        <form style="" class="list">
            <label style="" name="customer-after-lunch" class="item item-select">
                <span class="input-label">Customer</span>
                <select>
                    <option>None</option>
                    <option>FREEPORT INDONESIA,PT</option>
                    <option>HOLCIM INDONESIA, PT</option>
                    <option>ADARO INDONESIA, PT</option>
                </select>
            </label>
            <label style="" name="location-after-lunch" class="item item-input">
                <span class="input-label">Location</span>
                <input placeholder="Location" type="text">
            </label>
            <label style="" name="objectives-after-lunch" class="item item-input">
                <span class="input-label">Objectives</span>
                <input placeholder="Objectives " type="text">
            </label>
        </form>
        <button class="button button-positive  button-block icon ion-android-arrow-forward" style="border-radius:10px 10px 10px 10px;" id="formdaymonday-button20">NEXT STEP</button>
        <form style="" class="list"></form>
        <div style="width: 284px; height: 14px;" class="spacer"></div>
    </ion-content>
</ion-view>