<ion-view style="" title="FORM ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h4 style="">Create Plan Activity</h4>
        <div style="width: 284px; height: 25px;" class="spacer"></div>
        <form style="" class="list">
            <label style="" name="pic" class="item item-select">
                <span class="input-label">PIC</span>
                <select>
                    <option>None</option>
                    <option>ACHEN</option>
                    <option>Addi Masyhari</option>
                    <option>Ali Wahyudi</option>
                </select>
            </label>
            <label style="" name="data-begin" class="item item-input">
                <span class="input-label">Begin</span>
                <input placeholder="Date Begin" type="date">
            </label>
            <label style="" name="data-end" class="item item-input">
                <span class="input-label">End</span>
                <input placeholder="Date End" type="date">
            </label>
        </form>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formactivity-button14" ui-sref="formdaymonday">Monday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formactivity-button16" ui-sref="formdaymonday">Tuesday</a>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formactivity-button21" ui-sref="formdaymonday">Wednesday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formactivity-button23" ui-sref="formdaymonday">Thursday</a>
        </div>
        <a class="button button-stable  button-block icon-left ion-calendar" id="formactivity-button24" ui-sref="formdaymonday">Friday</a>
        <a class="button button-positive  button-block" style="border-radius:15px 15px 15px 15px;" id="formactivity-button25" ui-sref="previewplanactivity">Preview &amp; Save</a>
    </ion-content>
</ion-view>