<ion-view style="" title="FORM UPDATE ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <p>

                <b>PIC : Ricky Djendakang

                </b>
                <br>Date :
                <u>
                    02/22/2016 - 02/28/2016
                </u>
            </p>
            <hr>
        </div>
        <ion-list style=""></ion-list>
        <ion-list style=""></ion-list>
        <div style="width: 284px; height: 12px;" class="spacer"></div>
        <div style="">
            <b>
                <p>
                    <u>MONDAY</u>
                </p>
            </b>


            <u>BEFORE LUNCH PLAN</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

        </div>
        <div style="width: 284px; height: 43px;" class="spacer"></div>
        <form style="" class="list">
            <ion-toggle style="" name="cancel-plan-before-lunch" toggle-class="toggle-assertive">CANCEL PLANING</ion-toggle>
        </form>
        <form style="" class="list">
            <label style="" name="results-plan-before-lunch" class="item item-input">
                <span class="input-label">Results :</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form style="" class="list"></form>
        <div style="">
            <u>AFTER LUNCH PLAN</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
        </div>
        <form style="" class="list"></form>
        <form style="" class="list">
            <ion-toggle style="" toggle-class="toggle-assertive">CANCEL PLANING</ion-toggle>
        </form>
        <form style="" class="list">
            <label style="" name="results-plan-after-lunch" class="item item-input">
                <span class="input-label">Results:</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button class="button button-positive  button-block icon-left ion-android-add-circle" style="border-radius:22px 22px 22px 22px;" id="formupdateactivity-button15">UPDATE ACTIVITY</button>
        <ion-list style=""></ion-list>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>