 <ion-view style="" title="INPUT DATA PLAN">
 <ion-nav-bar></ion-nav-bar>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div class="contect-transparant bgwhite">
        <div class="judul-create-plan" style="font-size:18px;">
            <center>
                <b>PLAN {{day}}</b>
            </center>
        </div>

        <div ng-repeat="bef_rev in before_prev">
        <b>Customer : </b><u> {{(bef_rev.customer).display_name}}</u>
        <br>
        <b>Location :</b> {{bef_rev.location}}
        <br>
        <h5>Objectives :</h5>{{bef_rev.objective}}
        <br>
        <br>
        <button class="remove" ng-click="removeBefore($index)">Remove</button>
        <br>
        <br>
        </div>


        <div class="item item-divider item-divider-erp ion-clock" style="margin-left:1px; margin-right:1px; margin-top:5px;">
            <b>PLANING BEFORE LUNCH</b>
               <button id="fORMDAYMONDAY-button18" class="icon-right ion-android-add-circle btn-gantung btn-add-update-activity" ng-click="tambahformBefore()" style="margin-top:1px;"> Add Plan</button>
        </div>


        <form style="width:100%;" class="list" ng-repeat="fb in formBefore">
            <label style="" name="customer-before-lunch" class="item item-input">
                <span class="input-label" style="width:25%;">Customer</span>
                <md-autocomplete md-selected-item="fb.customer" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display_name" placeholder="Search Customer">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.display_name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
            </label>
            <label style="" name="location-before-lunch" class="item item-input">
                <span class="input-label" style="width:25%;">Location</span>
                <input placeholder="Location" type="text" ng-model="fb.location">
            </label>
            <label style="" name="objectives-before-lunch" class="item item-input">
                <span class="input-label" style="width:25%;">Objectives</span>
                <textarea placeholder="Objectives" rows="4" cols="10" ng-model="fb.objective"> </textarea>
            </label>
        </form>


        <div style="height: 10px;" class="spacer"></div>
        <div ng-repeat="aft_rev in after_prev">
        <b>Customer : </b><u> {{(aft_rev.customer).display_name}}</u>
        <br>
        <b>Location :</b> {{aft_rev.location}}
        <br>
        <h5>Objectives :</h5>{{aft_rev.objective}}
        <br>
        <br>
        <button class="remove" ng-click="removeAfter()">Remove</button>
        <br>
        <br>
        </div>
        <form style="" class="list"></form>
     

        <div class="item item-divider item-divider-erp ion-clock" style="margin-left:1px; margin-right:1px; margin-top:5px;">
            <b>PLANING AFTER LUNCH</b>
               <button id="formdaymonday-button02" class="icon-right ion-android-add-circle btn-gantung btn-add-update-activity" ng-click="tambahformAfter()" style="margin-top:1px;"> Add Plan</button>
        </div>


        <form style="" class="list" ng-repeat="fa in formAfter">           
            <label style="" name="customer-after-lunch" class="item item-input">
                <span class="input-label" style="width:25%;">Customer</span>
                <md-autocomplete md-selected-item="fa.customer" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display_name" placeholder="Search Customer">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.display_name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
            </label>
            <label style="" name="location-after-lunch" class="item item-input">
                <span class="input-label" style="width:25%;">Location</span>
                <input placeholder="Location" type="text" ng-model="fa.location">
            </label>
            <label style="" name="objectives-after-lunch" class="item item-input">
                <span class="input-label" style="width:25%;">Objectives</span>
                <textarea placeholder="Objectives" rows="4" cols="10" ng-model="fa.objective"> </textarea>
            </label>
        </form>
        
<!-- 
        <button class="button button-positive  button-block icon" style="border-radius:10px 10px 10px 10px;" id="formdaymonday-button03" ng-click="savedata()">SAVE &amp; CLOSE</button> -->

          <center class="bottom-button">
          <a class="button button-small button-positive" style="border-radius:5px 5px 5px 5px; width:45%;" id="formactivity-button25" ng-click="backformactivity()">CANCEL</a>
           <button id="fORMUPDATEACTIVITY-button15" style="font-weight:;border-radius:5px 5px 5px 5px; width:45%;" class="button button-small button-positive" ng-click="savedata()">SAVE &amp; CLOSE</button>
            </center>
            <br/>

        </div>
    </ion-content>
</ion-view>