<ion-view style="" title="FORM REVIEW ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h4 style="">Review from Activity</h4>
        <div style="width: 284px; height: 25px;" class="spacer"></div>
        <div style="">
            <p>

                <b>PIC : {{idsact}}

                </b>
                <br>Date :
                <u>
                    02/22/2016 - 02/28/2016
                </u>
            </p>
            <hr>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button1" ui-sref="formupdateactivity">Monday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button2" ui-sref="formupdateactivity">Tuesday</a>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button3" ui-sref="formupdateactivity">Wednesday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button4" ui-sref="formupdateactivity">Thursday</a>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button5" ui-sref="formupdateactivity">Friday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button6" ui-sref="formupdateactivity">Saturday</a>
        </div>
        <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button7" ui-sref="formupdateactivity">Sunday</a>
    </ion-content>
</ion-view>

