<ion-view style="" title="FORM REVIEW ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h4 style="">Review from Activity</h4>
        <div style="width: 284px; height: 25px;" class="spacer"></div>
        <div style="">
            <p>

                <b>PIC : {{sales.user_id[1]}}

                </b>
                <br>Date :
                <u>
                    {{sales.begin|date:"MM/dd/yyyy"}} - {{sales.end|date:"MM/dd/yyyy"}}
                </u>
            </p>
            <hr>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button1" ui-sref="formupdateactivity ({hari:'senin', afterplan:sales.afterplansenin, beforeplan:sales.beforeplansenin, afteractual:sales.afteractualsenin, beforeactual:sales.beforeactualsenin })">Monday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button2" ui-sref="formupdateactivity({hari:'selasa', afterplan:sales.afterplanselasa, beforeplan:sales.beforeplanselasa, afteractual:sales.afteractualselasa, beforeactual:sales.beforeactualselasa })">Tuesday</a>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button3" ui-sref="formupdateactivity({hari:'rabu', afterplan:sales.afterplanrabu, beforeplan:sales.beforeplanrabu, afteractual:sales.afteractualrabu, beforeactual:sales.beforeactualrabu })">Wednesday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button4" ui-sref="formupdateactivity({hari:'kamis', afterplan:sales.afterplankamis, beforeplan:sales.beforeplankamis, afteractual:sales.afteractualkamis, beforeactual:sales.beforeactualkamis })">Thursday</a>
        </div>
        <div style="" class="button-bar">
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button5" ui-sref="formupdateactivity({hari:'jumat', afterplan:sales.afterplanjumat, beforeplan:sales.beforeplanjumat, afteractual:sales.afteractualjumat, beforeactual:sales.beforeactualjumat })">Friday</a>
            <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button6" ui-sref="formupdateactivity({hari:'sabtu', afterplan:sales.afterplansabtu, beforeplan:sales.beforeplansabtu, afteractual:sales.afteractualsabtu, beforeactual:sales.beforeactualsabtu })">Saturday</a>
        </div>
        <a class="button button-stable  button-block icon-left ion-calendar" id="formreviewactivity-button7" ui-sref="formupdateactivity({hari:'ahad', afterplan:sales.afterplanahad, beforeplan:sales.beforeplanahad, afteractual:sales.afteractualahad, beforeactual:sales.beforeactualahad })">Sunday</a>
    </ion-content>
</ion-view>

