
<ion-view style="" title="Login">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" name="username" class="item item-input">
                    <span class="input-label">Username</span>
                    <input id="name" placeholder="Username" type="text" ng-model="data.username">
                </label>
                <label style="" name="password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input id="pass" placeholder="Password" type="password" ng-model="data.pass">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button class="button button-stable  button-block" id="login-button15" ng-click="login()">Log in</button>
              <!-- <button class="button button-stable  button-block" id="test-button15" ng-click="test_service()">Test Service</button> -->
            <!-- <a class="button button-positive  button-block button-clear" id="login-button16" onclick="window.open('/signup', '_system', 'location=yes'); return false;" href="#">Or create an account</a> -->
        </form>
    </ion-content>
</ion-view>