<ion-view style="" title="MENU LOGIN">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="text-align: center;">
            <img src="img/btsGDDR6QdaV6GjXik1o_company_logo.png" width="50%" height="auto">
        </div>
        <form style="" class="list">
            <div style="width: 284px; height: 24px;" class="spacer"></div>
            <div style="">
                <p>
                </p>
                <center>
                    <b>ERP-SUPRABAKTI MANDIRI</b>
                </center>
                <p></p>
            </div>
            <ion-list style="">
                <label style="" name="username" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="Username" type="text" ng-model="data.username">
                </label>
                <label style="" name="password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input  ng-model="data.pass" placeholder="Password" type="password">
                </label>
            </ion-list>
            <div style="width: 284px; height: 22px;" class="spacer"></div>
            <a class="button button-positive  button-block icon ion-log-in" style="font-weight:bold;color:#FFFFFF;" id="menulogin-button2" ui-sref="menuutama" ng-click="login()">Log in</a>
        </form>
    </ion-content>
</ion-view>