<ion-view style="" title="MENU ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a class="button button-positive  button-block icon-left ion-android-add-circle" id="menuactivity-button27" ui-sref="formactivity">CREATE ACTIVITY</a>
        <a class="button button-positive  button-block icon-left ion-android-alarm-clock" id="menuactivity-button28" ui-sref="salesactivity">SALES ACTIVITY</a>
        <button class="button button-positive  button-block icon-left ion-android-clipboard" id="menuactivity-button29">WEEKLY STATUS</button>
    </ion-content>
</ion-view>