<ion-view title="" id="page3" class="bg-login menu-title">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/btsGDDR6QdaV6GjXik1o_company_logo.png" width="50%" height="auto">
        </div>
        <form class="list">
            <div class="spacer" style="width: 284px; height: 24px;"></div>
            <div>
                <p>
                </p>
                <center>
                    <b class="jdl-login">ERP-SUPRABAKTI MANDIRI</b>
                </center>
                <p></p>
            </div>
                <label class="item item-input radius" name="username">
                    <span class="button-block icon ion-ios-people custom-icon"></span>
                    <input type="text" placeholder="Username" ng-model="data.username"/>
                </label>
                <br/>
                <label class="item item-input radius" name="password">
                    <span class="button-block icon ion-locked custom-icon"></span>
                    <input type="password" placeholder="Password" ng-model="data.pass"/>
                </label>
            <div class="spacer" style="width: 284px; height: 22px;"></div>
            <a ui-sref="menuutama" id="mENULOGIN-button2" style="font-weight:bold;color:#FFFFFF;" class="button button-positive  button-block icon ion-log-in login-button" ng-click="login()"> LOGIN</a>
        </form>
    </ion-content>
</ion-view>