<ion-view style="" title="MENU SALES">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a class="button button-positive  button-block icon-left ion-android-add-circle" id="menusales-button11" ui-sref="formactivity">CREATE ACTIVITY</a>
        <button class="button button-positive  button-block icon-left ion-android-alarm-clock" id="menusales-button13">SALES ACTIVITY</button>
        <button class="button button-positive  button-block icon-left ion-android-clipboard" id="menusales-button12">WEEKLY STATUS</button>
    </ion-content>
</ion-view>