<ion-view style="" title="MENU UTAMA">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a class="button button-positive  icon-left ion-grid" id="menuutama-button4" ui-sref="submenusales">SALES</a>
        </div>
        <button class="button button-positive  button-block icon-left ion-android-person" id="menuutama-button8">HUMAN RESOURCES</button>
        <button class="button button-positive  button-block icon-left ion-document-text" id="menuutama-button10">REPORTING</button>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>