<ion-view style="" title="MENU ACTIVITY">
<ion-nav-buttons side="right"><button  menu-toggle = "right" class = "button button-icon icon ion-navicon" ng-click = "toggleLeft()"></button></ion-nav-buttons>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a class="button button-positive  button-block icon-left ion-android-add-circle" id="menuactivity-button27" ui-sref="formactivity">CREATE ACTIVITY</a>
        <a class="button button-positive  button-block icon-left ion-android-alarm-clock" id="menuactivity-button28" ui-sref="salesactivity">SALES ACTIVITY</a>
        <button class="button button-positive  button-block icon-left ion-android-clipboard" id="menuactivity-button29">WEEKLY STATUS</button>
        <a ui-sref="salesactivitytimeline" id="mENUACTIVITY-button27" style="font-weight:;" class="button button-positive  button-block icon-left ion-chatbox-working">ACTIVITY TIMELINE</a>
    </ion-content>
</ion-view>