<ion-view title="PREVIEW PLAN ACTIVITY" id="page8">
   
   <ion-nav-bar ng-controller="AppController">

</ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
       <div class="contect-transparant">
             <div class="pic-review">
                <i class="icon ion-clipboard"></i>
                <p>

                    <b>
                    {{pic}}
                    
                    </b>
                    <br>
                    <u class="spacing">
                        {{begin|date:"MM/dd/yyyy"}} - {{end|date:"MM/dd/yyyy"}}
                    </u>
                </p>
            </div>

            <div class="content-preview">
            <div class="spacer" style="width: 284px; height: 12px;"></div>
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>MONDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <div ng-repeat="bppsenin in bpp_senin">
                <span class="judul-cus-view ion-person"> {{bppsenin.customer['display_name']}} </span>
                <b class="font-location">{{bppsenin.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{bppsenin.objective}}
                <div class="line-silver"></div>
                </div>
                
                <span class="lunch">AFTER LUNCH</span>

                <div ng-repeat="appsenin in app_senin">
                <span class="judul-cus-view ion-person">{{appsenin.customer['display_name']}}</span>
                <b class="font-location ">{{appsenin.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{appsenin.objective}}
                <div class="line-silver"></div>
                </div>

            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>TUESDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <div ng-repeat="bppselasa in bpp_selasa">
                <span class="judul-cus-view ion-person">{{bppselasa.customer['display_name']}}</span>
                <b class="font-location">{{bppselasa.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{bppselasa.objective}}
                <div class="line-silver"></div>
                </div>

                <span class="lunch">AFTER LUNCH</span>

                <div ng-repeat="appselasa in app_selasa">
                <span class="judul-cus-view ion-person">{{appselasa.customer['display_name']}}</span>
                <b class="font-location ">{{appselasa.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{appselasa.objective}}
                <div class="line-silver"></div>
                </div>

            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>WEDNESDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>
                
                <div ng-repeat="bpprabu in bpp_rabu">
                <span class="judul-cus-view ion-person">{{bpprabu.customer['display_name']}}</span>
                <b class="font-location">{{bpprabu.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{bpprabu.objective}}
                <div class="line-silver"></div>
                </div>

                <span class="lunch">AFTER LUNCH</span>

                <div ng-repeat="apprabu in app_rabu">
                <span class="judul-cus-view ion-person">{{apprabu.customer['display_name']}}</span>
                <b class="font-location ">{{apprabu.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{apprabu.objective}}
                <div class="line-silver"></div>
                </div>

            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>THURSDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <div ng-repeat="bppkamis in bpp_kamis">
                <span class="judul-cus-view ion-person">{{bppkamis.customer['display_name']}}</span>
                <b class="font-location">{{bppkamis.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{bppkamis.objective}}
                <div class="line-silver"></div>
                </div>

                <span class="lunch">AFTER LUNCH</span>

                <div ng-repeat="appkamis in app_kamis">
                <span class="judul-cus-view ion-person">{{appkamis.customer['display_name']}}</span>
                <b class="font-location ">{{appkamis.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{appkamis.objective}}
                <div class="line-silver"></div>
                </div>

            </div>
          
            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>FRIDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <div ng-repeat="bppjumat in bpp_jumat">
                <span class="judul-cus-view ion-person">{{bppjumat.customer['display_name']}}</span>
                <b class="font-location">{{bppjumat.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{bppjumat.objective}}
                <div class="line-silver"></div>
                </div>

                <span class="lunch">AFTER LUNCH</span>

                <div ng-repeat="appjumat in app_jumat">
                <span class="judul-cus-view ion-person">{{appjumat.customer['display_name']}}</span>
                <b class="font-location ">{{appjumat.location}}</b>
                <br><br/>
                <b>Objectives : </b>{{appjumat.objective}}
                <div class="line-silver"></div>
                </div>

            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>
            <button id="pREVIEWPLANACTIVITY-button9" style="font-weight:;border-radius:22px 22px 22px 22px;" class="button button-positive  button-block icon-left ion-android-add-circle" ng-click="sendData()">SAVE ACTIVITY</button>
            </div>
            
       </div>
    </ion-content>
</ion-view>