<ion-view title="PREVIEW PLAN ACTUAL ACTIVITY" id="page8">
   
    <ion-content overflow-scroll="true" padding="true" class="has-header">
       <div class="contect-transparant">
             <div class="pic-review">
                <i class="icon ion-clipboard"></i>
                <p>

                    <b>
                    Ricky Djendakang
                    
                    </b>
                    <br>
                    <u class="spacing">
                        02/22/2016 - 02/28/2016
                    </u>
                </p>
            </div>

            <div class="content-preview">
            <div class="spacer" style="width: 284px; height: 12px;"></div>
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>MONDAY</b></div>
                    <div class="status"><span class="ok-status">OK</span></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                    <div class="judul-before-after"><b>Friday 04/08/2016</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver">
                    <div class="judul-plan-preview"><b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent">
                    <div class="judul-plan-preview"><b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
            </div>
            
            <div class="spacer" style="width: 284px; height: 10px;"></div>


            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>MONDAY</b></div>
                    <div class="status"><span class="ok-status">OK</span></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                    <div class="judul-before-after"><b>Friday 04/08/2016</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver">
                    <div class="judul-plan-preview"><b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent">
                    <div class="judul-plan-preview"><b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
            </div>

            <div class="spacer" style="width: 284px; height: 10px;"></div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>MONDAY</b></div>
                    <div class="status"><span class="cancel-status">CANCEL</span></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                    <div class="judul-before-after"><b>Friday 04/08/2016</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver">
                    <div class="judul-plan-preview"><b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>
                <div class="isicontent">
                    <div class="judul-plan-preview"><b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
            </div>


              <div class="spacer" style="width: 284px; height: 10px;"></div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>MONDAY</b></div>
                    <div class="status"><span class="ok-status">CANCEL</span></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                    <div class="judul-before-after"><b>Friday 04/08/2016</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver">
                    <div class="judul-plan-preview"><b>Planned Go To : - </b></div>
                    <b>Objectives : </b>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>
                <div class="isicontent">
                    <div class="judul-plan-preview"><b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                    <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                    dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                </div>
            </div>


           <!--  <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>TUESDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div> -->


            <!-- <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>WEDNESDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>THURSDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>
          
            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>FRIDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div> -->

           <!--  <div class="spacer" style="width: 284px; height: 43px;"></div>
                <center>
                    <button id="pREVIEWPLANACTIVITY-button10" style="font-weight:;border-radius:10px 10px 10px 10px;" class="button button-positive icon-left ion-arrow-left-a">BACK</button>

                    <button id="pREVIEWPLANACTIVITY-button9" style="font-weight:;border-radius:10px 10px 10px 10px; margin-left:10px;" class="button button-positive icon-left ion-android-add-circle">SAVE</button>
                </center> -->
            </div>
            
       </div>
    </ion-content>
</ion-view>