<ion-view title="PREVIEW ACTIVITY" id="page8">
   <!-- Menu Back Dan Slide Menu -->
<ion-nav-bar ng-controller="AppController">
  <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c white-button"></i> 
  </ion-nav-back-button>
</ion-nav-bar>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
       <div class="contect-transparant">
             <div class="pic-review">
                <i class="icon ion-clipboard"></i>
                <p>
                    <b>
                    {{username}}
                    
                    </b>
                    <br>
                    <u class="spacing">
                        DRAFT DATA MINGGU INI YANG BELUM TERSINKRONISASI DENGAN SERVER
                    </u>
                </p>
            </div>

            <div class="content-preview">
            <div class="spacer" style="width: 284px; height: 12px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>MONDAY</b></div>        
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>
                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bpsenin in befsenin" ng-if="bpsenin.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bpsenin.customer}} - {{bpsenin.location}}</b></div>
                    <b>Objectives : </b><pre>{{bpsenin.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="basenin in befsenin">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!basenin.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="basenin.batal" class="cancel-status-preview ion-close-circled"> Cancel</span>
                    Actual Result Went To : {{basenin.customer}} - {{basenin.location}}</b></div>
                    <b>Results : </b><pre>{{basenin.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>MONDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="apsenin in afsenin" ng-if="apsenin.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{apsenin.customer}} - {{apsenin.location}}</b></div>
                    <b>Objectives : </b><pre>{{apsenin.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="aasenin in afsenin">
                    <div class="judul-plan-preview">
                        <b>
                            <span ng-if="!aasenin.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                            <span ng-if="aasenin.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                            Actual Result Went To : {{aasenin.customer}} - {{aasenin.location}}
                        </b>
                    </div>
                    <b>Results : </b><pre>{{aasenin.name}}</pre>
                </div>
            </div>
            
            <div class="spacer" style="width: 284px; height: 12px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>TUESDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bpselasa in befselasa" ng-if="bpselasa.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bpselasa.customer}} - {{bpselasa.location}}</b></div>
                    <b>Objectives : </b><pre>{{bpselasa.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="baselasa in befselasa">
                    <div class="judul-plan-preview">

                    <b>
                    <span ng-if="!baselasa.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="baselasa.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{baselasa.customer}} - {{baselasa.location}}</b></div>
                    <b>Results : </b><pre>{{baselasa.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>TUESDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="apselasa in afselasa" ng-if="apselasa.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{apselasa.customer}} - {{apselasa.location}}</b></div>
                    <b>Objectives : </b><pre>{{apselasa.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>

                <div class="isicontent line-silver" ng-repeat="aaselasa in afselasa">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!aaselasa.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="aaselasa.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{aaselasa.customer}} - {{aaselasa.location}}</b></div>
                    <b>Results : </b><pre>{{aaselasa.name}}</pre>
                </div>
            </div>

            <div class="spacer" style="width: 284px; height: 12px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>WEDNESDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bprabu in befrabu" ng-if="bprabu.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bprabu.customer}} - {{bprabu.location}}</b></div>
                    <b>Objectives : </b><pre>{{bprabu.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="barabu in befrabu">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!barabu.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="barabu.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{barabu.customer}} - {{barabu.location}}</b></div>
                    <b>Results : </b><pre>{{barabu.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>WEDNESDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="aprabu in afrabu" ng-if="aprabu.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{aprabu.customer}} - {{aprabu.location}}</b></div>
                    <b>Objectives : </b><pre>{{aprabu.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="aarabu in afrabu">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!aarabu.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="aarabu.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{aarabu.customer}} - {{aarabu.location}}</b></div>
                    <b>Results : </b><pre>{{aarabu.name}}</pre>
                </div>
            </div>

            <div class="spacer" style="width: 284px; height: 12px;"></div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>THURSDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bpkamis in befkamis" ng-if="bpkamis.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bpkamis.customer}} - {{bpkamis.location}}</b></div>
                    <b>Objectives : </b><pre>{{bpkamis.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>

                <div class="isicontent line-silver" ng-repeat="bakamis in befkamis">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!bakamis.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="bakamis.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{bakamis.customer}} - {{bakamis.location}}</b></div>
                    <b>Results : </b><pre>{{bakamis.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>THURSDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="apkamis in afkamis" ng-if="apkamis.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{apkamis.customer}} - {{apkamis.location}}</b></div>
                    <b>Objectives : </b><pre>{{apkamis.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>

                <div class="isicontent line-silver" ng-repeat="aakamis in afkamis">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!aakamis.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="aakamis.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{aakamis.customer}} - {{aakamis.location}}</b></div>
                    <b>Results : </b><pre>{{aakamis.name}}</pre>
                </div>
            </div>

            <div class="spacer" style="width: 284px; height: 12px;"></div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>FRIDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bpjumat in befjumat" ng-if="bpjumat.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bpjumat.customer}} - {{bpjumat.location}}</b></div>
                    <b>Objectives : </b><pre>{{bpjumat.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bajumat in befjumat">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!bajumat.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="bajumat.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{bajumat.customer}} - {{bajumat.location}}</b></div>
                    <b>Results : </b><pre>{{bajumat.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>FRIDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="apjumat in afjumat" ng-if="apjumat.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{apjumat.customer}} - {{apjumat.location}}</b></div>
                    <b>Objectives : </b><pre>{{apjumat.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>

                <div class="isicontent line-silver" ng-repeat="aajumat in afjumat">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!aajumat.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="aajumat.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{aajumat.customer}} - {{aajumat.location}}</b></div>
                    <b>Results : </b><pre>{{aajumat.name}}</pre>
                </div>
            </div>

            <div class="spacer" style="width: 284px; height: 12px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>SATURDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bpsabtu in befsabtu" ng-if="bpsabtu.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bpsabtu.customer}} - {{bpsabtu.location}}</b></div>
                    <b>Objectives : </b><pre>{{bpsabtu.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="basabtu in befsabtu">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!basabtu.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="basabtu.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{basabtu.customer}} - {{basabtu.location}}</b></div>
                    <b>Results : </b><pre>{{basabtu.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>SATURDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="apsabtu in afsabtu" ng-if="apsabtu.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{apsabtu.customer}} - {{apsabtu.location}}</b></div>
                    <b>Objectives : </b><pre>{{apsabtu.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>

                <div class="isicontent line-silver" ng-repeat="aasabtu in afsabtu">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!aasabtu.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="aasabtu.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{aasabtu.customer}} - {{aasabtu.location}}</b></div>
                    <b>Results : </b><pre>{{aasabtu.name}}</pre>
                </div>
            </div>

            <div class="spacer" style="width: 284px; height: 12px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>SUNDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL BEFORE LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="bpahad in befahad" ng-if="bpahad.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{bpahad.customer}} - {{bpahad.location}}</b></div>
                    <b>Objectives : </b><pre>{{bpahad.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL BEFORE LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="baahad in befahad">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!baahad.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="baahad.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{baahad.customer}} - {{baahad.location}}</b></div>
                    <b>Results : </b><pre>{{baahad.name}}</pre>
                </div>
            </div>
            
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp">
                    <div class="namasales font-black ion-calendar"> <b>SUNDAY</b></div>
                    <div class="both"></div>
                    <div class="judul-header"><b>PLAN ACTUAL AFTER LUNCH</b></div>
                </div>

                <span class="lunch-view">PLAN AFTER LUNCH</span>
                <div class="isicontent line-silver" ng-repeat="apahad in afahad" ng-if="apahad.plan_id!=false">
                    <div class="judul-plan-preview"><b>Planned Go To : {{apahad.customer}} - {{apahad.location}}</b></div>
                    <b>Objectives : </b><pre>{{apahad.plan_id[1]}}</pre>
                </div>
                <span class="lunch-view">ACTUAL AFTER LUNCH</span>

                <div class="isicontent line-silver" ng-repeat="aaahad in afahad">
                    <div class="judul-plan-preview"><b>
                    <span ng-if="!aaahad.batal" class="ok-status-preview ion-checkmark-circled"> OK</span> 
                    <span ng-if="aaahad.batal" class="cancel-status-preview ion-close-circled"> Cancel</span> 
                    Actual Result Went To : {{aaahad.customer}} - {{aaahad.location}}</b></div>
                    <b>Results : </b><pre>{{aaahad.name}}</pre>
                </div>
            </div>
            <button id="pREVIEWPLANACTIVITY-button9" style="font-weight:;border-radius:22px 22px 22px 22px;" class="button button-positive  button-block icon-left ion-android-add-circle" ng-click="sendbackupdate()">RE-SAVE ACTIVITY</button>
            </div>
            
       </div>
    </ion-content>
</ion-view>