<ion-view title="PREVIEW PLAN ACTIVITY" id="page8">
   
    <ion-content overflow-scroll="true" padding="true" class="has-header">
       <div class="contect-transparant">
             <div class="pic-review">
                <i class="icon ion-clipboard"></i>
                <p>

                    <b>
                    Ricky Djendakang
                    
                    </b>
                    <br>
                    <u class="spacing">
                        02/22/2016 - 02/28/2016
                    </u>
                </p>
            </div>

            <div class="content-preview">
            <div class="spacer" style="width: 284px; height: 12px;"></div>
            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>MONDAY</b>
                </div>


                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person"> FREEPORT INDONESIA,PT</span>
                <b class="font-location">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>


            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>TUESDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>


            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>WEDNESDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>THURSDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>
          
            <div class="spacer" style="width: 284px; height: 43px;"></div>

            <div class="list card custom-list">
                <div class="item item-divider item-divider-erp ion-calendar">
                    <b>FRIDAY</b>
                </div>

                <span class="lunch">BEFORE LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

                <br>
                <br>
                <span class="lunch">AFTER LUNCH</span>

                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley

                <div class="line-silver"></div>
                <span class="judul-cus-view ion-person">FREEPORT INDONESIA,PT</span>
                <b class="font-location ">JAKARTA</b>
                <br><br/>
                <b>Objectives : </b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
            </div>

            <div class="spacer" style="width: 284px; height: 43px;"></div>
            <button id="pREVIEWPLANACTIVITY-button9" style="font-weight:;border-radius:22px 22px 22px 22px;" class="button button-positive  button-block icon-left ion-android-add-circle">SAVE ACTIVITY</button>
            </div>
            
       </div>
    </ion-content>
</ion-view>