<ion-view style="" title="PREVIEW PLAN ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <p>

                <b>PIC : Ricky Djendakang

                </b>
                <br>Date :
                <u>
                    02/22/2016 - 02/28/2016
                </u>
            </p>
            <hr>
        </div>
        <ion-list style=""></ion-list>
        <ion-list style=""></ion-list>
        <div style="width: 284px; height: 12px;" class="spacer"></div>
        <div style="">
            <b>
                <p>
                    <u>MONDAY</u>
                </p>
            </b>


            <u>BEFORE LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
            dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

            <br>
            <br>
            <u>AFTER LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
        </div>
        <div style="width: 284px; height: 43px;" class="spacer"></div>
        <div style="">
            <b>
                <p>
                    <u>TUESDAY</u>
                </p>
            </b>


            <u>BEFORE LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
            dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

            <br>
            <br>
            <u>AFTER LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
        </div>
        <div style="width: 284px; height: 43px;" class="spacer"></div>
        <div style="">
            <b>
                <p>
                    <u>WEDNESDAY</u>
                </p>
            </b>


            <u>BEFORE LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
            dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

            <br>
            <br>
            <u>AFTER LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
        </div>
        <div style="width: 284px; height: 43px;" class="spacer"></div>
        <div style="">
            <b>
                <p>
                    <u>THURSDAY</u>
                </p>
            </b>


            <u>BEFORE LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
            dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

            <br>
            <br>
            <u>AFTER LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
        </div>
        <div style="width: 284px; height: 43px;" class="spacer"></div>
        <div style="">
            <b>
                <p>
                    <u>FRIDAY</u>
                </p>
            </b>


            <u>BEFORE LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
            dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra

            <br>
            <br>
            <u>AFTER LUNCH</u>

            <br>
            <b>Customer:</b>FREEPORT INDONESIA,PT
            <br>
            <b>Location:</b>Jakarta
            <br>
            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley
        </div>
        <div style="width: 284px; height: 43px;" class="spacer"></div>
        <button class="button button-positive  button-block icon-left ion-android-add-circle" style="border-radius:22px 22px 22px 22px;" id="previewplanactivity-button9">SAVE ACTIVITY</button>
        <ion-list style=""></ion-list>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>