<ion-view title="SALES ACTIVITY TIMELINE" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>

        <div class="list card custom-list">
            <div class="item item-divider item-divider-erp">
                <span class="inisia-name">MRP</span>
                <div class="namasales font-black">M.REZA PAHLEPI</div>
                <div class="datesales font-black">Friday 04/08/2016</div>
                <div class="status"><span class="ok-status">OK</span></div>
                <div class="both"></div>
                <div class="judul-header"><b>FREEPORT INDONESIA,PT - Jakarta</b></div>
                <div class="judul-before-after"><b>BEFORE LUNCH</b></div>
            </div>
                <div class="item item-body">
                    <div class="both"></div>
                    <div class="plan">
                        <div class="isicontent line-silver">
                            <div class="judul-plan"><b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta</b></div>
                            Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                        </div>
                    </div>

        <div ng-repeat="sls in sales_tm |limitTo:numberOfItemsToDisplay">
   

           <div class="list card custom-list">
            <div class="item item-divider item-divider-erp">
                <span class="inisia-name">MRP</span>
                <div class="namasales font-black">M.REZA PAHLEPI</div>
                <div class="datesales font-black">Friday 04/08/2016</div>
                <div class="status"><span class="cancel-status">CANCEL</span></div>
                <div class="both"></div>
                <div class="judul-header"><b>FREEPORT INDONESIA,PT - Jakarta </b></div>
                <div class="judul-before-after"><b>AFTER LUNCH</b></div>
            </div>
                <div class="item item-body">
                    <div class="both"></div>
                    <div class="plan cancel">
                        <div class="isicontent line-silver">
                            <div class="judul-plan"><b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta  Was Canceled</b></div>
                            Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                        </div>
                    </div>
                    <b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b>
                    <div class="isicontent">
                        Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                    </div>
                </div>
                <div class="isitimeline">
                    <div class="list card">
                    <div class="item item-divider before-lunch">{{sls.daylight}}</div>
                        <div class="item item-body">
                            <div class="list card">
                                <div class="item item-divider">PLAN</div>

                                    <div class="item item-body" >
                                        <div ng-repeat='plan in sales_tm|filter:user=sls.user|filter:the_date=sls.the_date|filter:daylight="Before Lunch / Break"'>
                                            <b>Customer:</b>{{plan.partner}} 
                                            <br>
                                            <b>Location:</b>{{plan.location}}
                                            <br>
                                            <div class="isicontent">
                                                <b>Objectives:</b>
                                                {{plan.name}}
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                            </div>

        <div class="both"></div>
        <div class="list card custom-list">
            <div class="item item-divider item-divider-erp">
                <span class="inisia-name">RKD</span>
                <div class="namasales font-black">Ricky Djendakang</div>
                <div class="datesales font-black">Friday 04/08/2016</div>
                <div class="status"><span class="ok-status">OK</span></div>
                <div class="both"></div>
                <div class="judul-header"><b>ANEKA TAMBANG,PT - Jakarta</b></div>
                <div class="judul-before-after"><b>BEFORE LUNCH</b></div>
            </div>
                <div class="item item-body">
                    <div class="both"></div>
                    <div class="plan">
                        <div class="isicontent line-silver">
                            <div class="judul-plan"><b>Planned Go To : ANEKA TAMBANG,PT - Jakarta</b></div>
                            Kordiniasi Kebutuhan project
                        </div>
                    </div>
                        
                    </div>
                  <div class="list card">
                    <div class="item item-divider after-lunch">AFTER LUNCH</div>
                    <div class="item item-body">
                            <div class="list card">
                                <div class="item item-divider">PLAN</div>
                                    <div class="item item-body">
                                        <div ng-repeat='plan in sales_tm|filter:user=sls.user|filter:the_date=sls.the_date|filter:daylight="After Lunch / Break"'>
                                            <b>Customer:</b>{{plan.partner}} 
                                            <br>
                                            <b>Location:</b>{{plan.location}}
                                            <br>
                                            <div class="isicontent">
                                                <b>Objectives:</b>
                                                {{plan.name}}
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                            </div>

           <div class="list card custom-list">
            <div class="item item-divider item-divider-erp">
                <span class="inisia-name">RKD</span>
                <div class="namasales font-black">Ricky Djendakang</div>
                <div class="datesales font-black">Friday 04/08/2016</div>
                <div class="status"><span class="ok-status">OK</span></div>
                <div class="both"></div>
                <div class="judul-header"><b>FREEPORT INDONESIA,PT - Jakarta </b></div>
                <div class="judul-before-after"><b>AFTER LUNCH</b></div>
            </div>
                <div class="item item-body">
                    <div class="both"></div>
                    <div class="plan">
                        <div class="isicontent line-silver">
                            <div class="judul-plan"><b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta </b></div>
                            Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                        </div>
                    </div>
                    
                </div>

            <div class="both"></div>
        </div>
        <center><button class="btn" ng-click="loadMore()">Load more</button></center>
        <ion-list></ion-list>
    </ion-content>
</ion-view>