<ion-view title="SALES ACTIVITY TIMELINE" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>

        <div class="timeline">
            <div class="judul-timeline">
                <div class="namasales">M.REZA PAHLEPI</div>
                <div class="datesales">Friday 04/08/2016</div>
            </div>
            <div class="isitimeline">
                <div class="list card">
                <div class="item item-divider">BEFORE LUNCH</div>
                <div class="item item-body">
                    <b>Customer:</b>FREEPORT INDONESIA,PT
                    <br>
                    <b>Location:</b>Jakarta
                    <br>
                    <div class="isicontent">
                        <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                        dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                    </div>
                    <br/>
                    <br/>
                    <b>Customer:</b>FREEPORT INDONESIA,PT
                    <br>
                    <b>Location:</b>Jakarta
                    <br>
                    <div class="isicontent">
                        <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                    </div>
                </div>
                </div>
              <div class="list card">
                <div class="item item-divider">AFTER LUNCH</div>
                <div class="item item-body">
                    <div class="cancel-area">
                        <b>Customer:</b>FREEPORT INDONESIA,PT
                        <br>
                        <b>Location:</b>Jakarta
                        <br>
                        <div class="isicontent">
                            <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <b>Customer:</b>FREEPORT INDONESIA,PT
                    <br>
                    <b>Location:</b>Jakarta
                    <br>
                    <div class="isicontent">
                        <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                        dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                    </div>
                </div>
                </div>
            </div>
        </div>



        <div class="both"></div>

        <div class="timeline">
            <div class="judul-timeline">
                <div class="namasales">Ricky Djendakang </div>
                <div class="datesales">Friday 04/08/2016</div>
            </div>
            <div class="isitimeline">
                <div class="list card">
                <div class="item item-divider">BEFORE LUNCH</div>
                <div class="item item-body">
                    <b>Customer:</b>FREEPORT INDONESIA,PT
                    <br>
                    <b>Location:</b>Jakarta
                    <br>
                    <div class="isicontent">
                        <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                        dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                    </div>
                    <br/>
                    <br/>
                    <b>Customer:</b>FREEPORT INDONESIA,PT
                    <br>
                    <b>Location:</b>Jakarta
                    <br>
                    <div class="isicontent">
                        <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                    </div>
                </div>
                </div>
              <div class="list card">
                <div class="item item-divider">AFTER LUNCH</div>
                <div class="item item-body">
                    <br/>
                    <br/>
                    <b>Customer:</b>FREEPORT INDONESIA,PT
                    <br>
                    <b>Location:</b>Jakarta
                    <br>
                    <div class="isicontent">
                        <b>Objectives:</b>Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt, kurang personil untuk maping roller dan Pulley, sangat mendukung apabila Supra bisa bantu untuk maping conveyor mereka, akan di tindak lanjuti, dengan pengajuan
                        dari Supra dan akan di siapkan penginapan dan makan untuk inspektor dari Supra
                    </div>
                </div>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>