<ion-view title="SALES ACTIVITY TIMELINE" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>

            
        <div class="list card">
            <div class="item item-divider head-name">
                <div class="namasales">M.REZA PAHLEPI</div>
                <div class="datesales">Friday 04/08/2016</div>
            </div>
                <div class="item item-body">
                    <div class="plan">
                        <b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta</b>
                        <div class="isicontent line">
                            Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                        </div>
                    </div>

                    <b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b>
                    <div class="isicontent">
                        Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                    </div>
                </div>
        </div>

           <div class="list card">
            <div class="item item-divider head-name">
                <div class="namasales">M.REZA PAHLEPI</div>
                <div class="datesales">Friday 04/08/2016</div>
            </div>
                <div class="item item-body">
                    <div class="plan cancel">
                        <b>Planned Go To : FREEPORT INDONESIA,PT - Jakarta  Was Canceled</b>
                        <div class="isicontent line">
                            Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                        </div>
                    </div>
                    <b>Actual Result Went To : FREEPORT INDONESIA,PT - Jakarta</b>
                    <div class="isicontent">
                        Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt Ketemu Pak Bambang Sarwoko, ada peluang untuk roller dan Belt
                    </div>
                </div>
        </div>
 


        <div class="both"></div>


        <ion-list></ion-list>
    </ion-content>
</ion-view>