<ion-view style="" title="SALES ACTIVITY TIMELINE" >
    <ion-content class="has-header" overflow-scroll="true" padding="true" >
        <form style="" class="list" >
           
            <ion-list ng-controller="salesactivitytimelineCtrl" >
                <!-- <ion-item style="" ui-sref="formreviewactivity({idsact: sls.id})" class="item" ng-repeat="sls in sales_tm">
                   <h>{{sls.user}}</h><br/>
                    <a><b>{{sls.the_date|date:"EEEE" }} {{sls.the_date|date:"MM/dd/yyyy" }}</b></a>
                    <br/>
                    <p><b>Planned Go To {{sls.partner}} / {{sls.location}}<b/></p>
                    <a>{{sls.name}}<a/>
                 
                </ion-item> -->

                <div ng-repeat="sls in sales_tm">
                   <div class="col">
                 <h4>{{sls.user}}</h4>
                    <a><b>{{sls.the_date|date:"EEEE" }} {{sls.the_date|date:"MM/dd/yyyy" }}</b></a>
                    <br/>
                    <a><b>Planned Go To {{sls.partner}} / {{sls.location}}<b/></a></br>
                    <a>{{sls.name}}<a/><br/>
                         <a style='float: right;'>{{sls.daylight}}<a/><br/>
                <hr>
               </div>
                    </div>
            </ion-list>
        </form>

    </ion-content>

</ion-view>
