<ion-view style="" title="SUBMENU SALES">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a class="button button-positive  button-block icon-left ion-android-add-circle" id="submenusales-button11" ui-sref="menuactivity">SALES</a>
        <button class="button button-positive  button-block icon-left ion-pull-request" id="submenusales-button13">MATERIAL REQUEST</button>
        <button class="button button-positive  button-block icon-left ion-bag" id="submenusales-button12">PRODUCTS</button>
        <a class="button button-positive  button-block icon-left ion-android-clipboard" id="submenusales-button30" ui-sref="menuactivity">ACTIVITY</a>
        <button class="button button-positive  button-block icon-left ion-android-clipboard" id="submenusales-button31">SALES REPORT</button>
    </ion-content>
</ion-view>