ion-content{
	background-image: url("../img/bg.jpg") !important;
	background-size: 100% 100%;
	color: white;
}
.bar-header{
	border-bottom: 3px solid white;
}
.has-header{
	/*top: 0px !important;*/
}
.bg-login{
	background-image: url("../img/bg.jpg");
	background-size: 100% 100%;
	font-size: 25px;
	font-family: "Verdan";
}
.bar-header{
	background-image: url("../img/bg.jpg") !important;
	color: white !important;
}
.bar-stable .button{
	color: white !important;
}
.bar.bar-stable .title{
	color: white !important;
	text-align: center;	 
}
.ion-ios-lock{
	display: block;
}
.icon-left{
	text-align: left;
}


.custom-icon{
	padding-right: 10px;
}
.jdl-login{
	color: white;
	font-size: 18px;
}
/* Empty. Add your own CSS if you like */
.btn-gantung{
	float: right;
	margin-bottom: 20px;
	clear: both;
	display: block;
}
.login-button{
	background-color: #413050 !important;
	font-family: "Arial";
}
.list{
	padding:10px;
}
.radius{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.timeline{
	border: 1px solid #ccc;
	margin-right: 10px;
}
.judul-timeline{
	width: 100%;
	
}
.custom-list{
	margin-top: 10px !important;	 
	margin-bottom: 10px !important;
}
.item-divider-erp{
	min-height: 0px !important;
}
.isitimeline{
	padding: 5px;
}
.namasales{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: white;
	/*float: left;*/
	text-align: center;
	/*width: 50%;*/
}
.namasales-timeline{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-align: left;
}
.font-black{
	 color: black !important;
}
.datesales{
	color: white;
    float: right;
    font-size: 10px;
    margin-right: 33px;
}
.isicontent-timeline{
	text-align: justify;

}
.custom-list .isicontent-timeline{
	margin-top: 0px;
}

.isicontent-timeline .ng-binding{
	font-size: 12px !important;
	font-family: "Arial";
	text-align: justify;
	padding-left: -20px;
}
.isicontent{
	text-align: justify;

}
.custom-list .isicontent{
	margin-top: 30px;
}
.judul-user{
	font-size: 3.0vw; 
	margin-top: 40px;
	
}
.judul-header{
	font-size: 12px;
	color: #F4B350;
	/*float: right;*/
	text-align: center;
	
}
.judul-header-timeline{
	font-size: 12px;
	color: #F4B350;
	/*float: right;*/
	text-align: left;
	
}
.judul-before-after{
	font-size: 10px;
	float: right;
	margin-right: 20px;
	color: #95A5A6;
	
}
.judul-plan{
	font-size: 10px;
	
}
.judul-plan-preview{
	font-size: 12px;
}
.line{
	border-bottom: 2px solid #03C9A9;
	padding-bottom: 5px;
}
.line-silver{
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;	
}
.cancel-area{
	background-color: #E3C1BF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
}
.inisia-name{
	 float: left;
	 background-color: #36D7B7 !important;
	border-radius: 50%;
	-wbekit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;	
	color: white;
	font-size: 9px;
}

.status {
    overflow: hidden;
    width: 100px;
}
.status span {
    color: #fff;
    display: inline-block;
    padding: 2px 0;
    position: absolute;
    right: -24px;
    text-align: center;
    top: 7px;
    font-size: 8px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    -o-transform:rotate(45deg);  
    -moz-transform:rotate(45deg);  
    width: 90px;
}
.ok-status{
	background: #19B5FE none repeat scroll 0 0;
}
.cancel-status{
	background: #ec2f2f none repeat scroll 0 0;
}
.cancel-status-preview{
	display: inline-block;
	 overflow: hidden;
    width: 100px;
    float: right;
    text-align: center;
    color: white;
    position: absolute;
    right: 4px;
    margin-top:-20px;
    font-size: 9px;
    width: 70px;
	background: #ec2f2f none repeat scroll 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.ok-status-preview{
	display: inline-block;
	 overflow: hidden;
    width: 100px;
    float: right;
    text-align: center;
    color: white;
    position: absolute;
    right: 4px;
    margin-top:-20px;
    font-size: 9px;
    width: 70px;
	background: #19B5FE none repeat scroll 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.cancel{
	color: red !important;
}
.both{
	clear: both;
}
.head-name{
	background-color: #36D7B7 !important;
}
.line{
	border-color: 1px solid #03C9A9;
}
.before-lunch{
	background-color: #D5D7F2 !important;
}
.after-lunch{
	background-color: #D0F2DB !important;	
}
.item-body{
	font-size: 10px !important;
}

/* Menu Utama*/
.menu-toggle{
	background-image: url("../img/bg.jpg") !important;
    border-bottom: 1px solid #BDC3C7;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 47px;
    line-height: 45px;
    text-align: center;
    width: 100%;
}
.menu .list{
	padding: 0px !important;
}

.menu-block-left{
	width: 100%;
	color: white;
	text-align: center;
	height: 100px;
	display: block;
	text-decoration: none;
}
.menu-block-right{
	width: 100%;
	color: white;
	text-align: center;
	height: 100px;
	text-decoration: none;
}
.menu-block{
	width: 100%;
	/*float: right;*/
	color: white;
	text-align: center;
	height: 100px;
	text-decoration: none;
	/*margin-top: 5px;*/
}

.flat-red{
	background-color: #F64747 !important;
}
.flat-orange{
	background-color: #F39C12 !important;
}
.flat-hijau{
	background-color: #03C9A9 !important;
}
.font-button{
	font-size: 3.0vw; 
	/*font-size: 12px;*/
	display: block;

}

.menu{
		 /*background-color: rgba(212, 197, 187, 0.5);*/
		 background-color: rgba(185, 212, 227, 0.2);
	
}
.contect-transparant{
    background-color: rgba(255, 255, 255, 0.4);
    /*color:#000;*/
    margin:0 auto;
    color: #000;
    font-size: 13px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: justify;
	margin: 5px;

}
.pic-review{
	background-color: #D2D7D3;
	 border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;

}
.content-preview{
	padding: 10px;
}
.spacing{
	letter-spacing: 2px;
}
.lunch{
	text-align: right;
	font-weight: bold;
	color: #F4B350;
	padding-top: 5px;
	display: block;
}
.lunch-view{
	text-align: left;
	font-weight: bold;
	color: #22A7F0;
	padding-top: 5px;
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
}

.font-location{
	text-transform: uppercase;
	font-size: 11px;
}
.judul-cus-view{
	margin-top: 10px;
	font-weight: bold;
	display: block;
}
.form-update{
	 /*background-color: rgba(212, 197, 187, 0.5);#387ef5*/
	 background-color: white;
	 margin-left: -10px;
}
.form-black{
	
 background-color: rgba(35, 24, 64, 0.1);
}
.input-label{
		vertical-align: top !important;
}
.form-update .list{
	margin-bottom: 0px !important;
}

.contect-transparant .button {
    font-size: 12px;
    line-height: 40px;
    margin: 0;
}

.white-button{
	color: white;
}
.white-button:hover{
	color: white;
}
.default-title{
	color: white;
}
.back-text{
	display: none !important;
}
.item{
	padding: 5px !important;
}
.bar .title.title-left{
	text-align: center !important;
}
pre {
    white-space: pre-wrap;
    margin-left: -4px !important;
}
.header-item{
	right: 0px !important;
	left: 0px !important;
}
.judul-create-plan{
	display: block;
    text-align: left;
    background-color: #3498DB;
    /*margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;*/
    padding: 10px;
    color: white;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    text-transform: uppercase;

}
.set-form{
	padding: 0px !important;
	margin-bottom: 5px !important;
}
.button-day .button-block{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.font-button-right{
	float: right;
}
.font-button-left{
	float: left;
}
.button-update-activity{
	width: 50%;
	float: left;
	font-size: 11px;
	border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    -o-border-radius: 5px 0px 0px 0px;
}
.button-view-activity{
	width: 50%;
	float: right;
	font-size: 11px;
	border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -o-border-radius: 0px 5px 0px 0px;
}
.contect-transparant .button{
	min-height: 10px !important;
}
.btn-add-update-activity{
	font-size: 12px !important;
	padding: 2px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #3498DB;
	margin-bottom:0px !important;
	box-shadow: none !important;
	color: white;
	margin-top: -5px;
	margin-right: -5px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.cancel-form{
	padding-bottom: 10px !important;
}
.toggle-small.item-toggle .toggle{
	top:7px !important;
}
md-autocomplete{
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 1px 3px #ddd inset;
    display: inline-block;
    padding: 0px 0px;
    width: 100%;
}
/*md-autocomplete md-autocomplete-wrap{
	height: 0px !important;
}*/

.md-virtual-repeat-container.md-autocomplete-suggestions-container{
	/*top:195px !important;*/
}
input[type="text"], input[type="search"], select, textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ddd inset;
    /*box-sizing: border-box;*/
    display: inline-block;
    /*margin: 8px 0;*/
    padding: 0px 20px;
    width: 100%;
}
textarea{
	padding-top: 5px !important;
}
input[type="text"]:focus,input[type="search"], select:focus, textarea {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea{
	width: 75% !important;
}
.input-login{
	box-shadow:none !important;	
	border:none !important;
	border-radius: 0px !important;
    box-sizing:none !important;
    display: block;
    margin: 0 !important;
    padding:0 !important;
}
.input-login:focus{
	box-shadow: none !important;
}

.bgwhite{
	background-color: white;
	min-height: 500px;
}
.bottom-button{
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.batasmenu{
    margin-top: -20px;
    padding-top: 45px;
    padding-bottom: 10px;
    background-color: white;
}
md-autocomplete{
	width: 75% !important;
}
.item-thumbnail-left, .item-thumbnail-left .item-content{
	min-height: 65px !important;
}
.img-salesactivity{
	float: left;
    margin-left: -90px;
    padding-right: 45px;
}
.remove-button{
	float: right;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	z-index: auto;
	width: auto;
	height: auto;
	position: static;
	cursor: pointer;
	opacity: 1;
	margin: 0;
	/*padding: 10px 20px;*/

	overflow: visible;
	border: 2px solid rgba(0,0,0,0);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 13px/0 "Times New Roman", Times, serif;
	color: rgba(255,255,255,0.9);
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	word-spacing: 5px;
	background: #BFBFBF;
	-webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.2) ;
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.2) ;
	text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}
.ok-proses{
	color: #00B16A !important;
}
.postpone-proses{
	color: #BDC3C7 !important;	
}
.status .status-activity-ok{
	display: inline-block;
	 overflow: hidden;
    width: 100px;
    float: right;
    text-align: center;
    color: white;
    position: absolute;
    margin-top:-10px;
    font-size: 9px;
    width: 70px;
	background: #03C9A9 none repeat scroll 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.status .status-activity-postpone{
	display: inline-block;
	 overflow: hidden;
    width: 100px;
    float: right;
    text-align: center;
    color: white;
    position: absolute;
    margin-top:-10px;
    font-size: 9px;
    width: 70px;
	background: #ABB7B7 none repeat scroll 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.clm-update-activity{
	
}

@media screen and (max-width: 400px) {
    .button-update-activity{
        width:100% !important;
        border-radius: 5px 5px 0px 0px;
	    -moz-border-radius: 5px 5px 0px 0px;
	    -webkit-border-radius: 5px 5px 0px 0px;
	    -o-border-radius: 5px 5px 0px 0px;
	    font-size: 13px !important;
    }
    .button-view-activity{
    	width: 100% !important;
    	border-radius: 0px 0px 0px 0px !important;
	    -moz-border-radius: 0px 0px 0px 0px !important;
	    -webkit-border-radius: 0px 0px 0px 0px !important;
	    -o-border-radius: 0px 0px 0px 0px !important;
	    font-size: 13px !important;
    }
}